<section id="animation" class="animation-container">
  <div class="animation" style="display: block; transform: scale(1); transition: transform 1s;">
    <div class="animation__item">
      <div class="animation__item-hidden"></div>
    </div>
    <img
      class="animation__logo"
      src="{% webpack_path images/animation/logo.svg %}"
      alt="logo" />
    <img
      class="animation__date"
      src="{% webpack_path images/animation/date.svg %}"
      alt="date" />
  </div>
</section>