<section id="about" class="section section--lightdarkblue about hero__main-container">
  <div class="section__container">
    <div class="section__inner-container">
      <div class="section__content">
        <h1 class="about__heading">20 EURUKO, 30 RUBY, 700 VILNIUS</h1>
        <p>
          <strong>
            Euruko 2023
          </strong>
          will celebrate it's 20th anniversary along with
          <strong>Ruby</strong>
          having its 30th birthday.
        </p>
        <p>
          This year focus of the conference is put to
          <strong>Ruby Community</strong>
          and oniste activities.
        </p>
        <div class="hero__location">
          21&#x2013;23 September 2023
          <br/>
          Vilnius, Lithuania
        </div>
      </div>
    </div>
  </div>
</section>
