<section id="info" class="section section--darkblue">
  <div class="section__container">
    <div class="section__inner-container">
      <div class="section__columns">
        <div class="section__small-column">
          <h1 id="heading-info" class="section__heading section__heading--teal">
            Community
          </h1>
        </div>
        <div class="section__large-column">
          <div class="section__content">
            <%= markdownify do %>
              This Year we make Euruko to be focused on Ruby Communty [Link](https://www.example.com) here we'll have more details.
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
